<div>
    <h1>{{name}}</h1>
    <div>
        <img src="{{flag}}" alt="{{name}}" >
    </div>
    <div>
        <p><b>Capital: </b>{{capital}}</p>
        <p><b>Population: </b>{{population}}</p>
        <p><b>Languages: </b>
            <ul>
            {{#each languages}}
                <li>{{name}}</li>
            {{/each}}   
            </ul>
        </p>
    </div>
</div>